<div class="modal-header">
    <h3 class="modal-title text-center">Registro</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <div ng-if="messages.error" role="alert" class="alert alert-danger">
                    <div ng-repeat="error in messages.error">{{error.msg}}</div>
                </div>
                <form method="post" ng-submit="signup()" name="signupForm" novalidate >
                    <div class="form-group has-feedback" >
                        <input class="form-control input-lg" type="text" name="displayName" ng-model="user.displayName" placeholder="userName" required autofocus>
                        <span  class="ion-person form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input class="form-control input-lg" type="email" id="email" name="email" ng-model="user.email" placeholder="email" required>
                        <span  class="ion-at form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback" >
                        <input class="form-control input-lg" type="text" id="name" name="name" ng-model="user.firstName" placeholder="Nombre" required>
                        <span  class="ion-at form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback" >
                        <input class="form-control input-lg" type="text" id="apellido" name="apellido" ng-model="user.lastName" placeholder="apellido" required>
                        <span  class="ion-at form-control-feedback"></span>

                    </div>

                    <div class="form-group has-feedback" >
                        <input class="form-control input-lg" type="password" id="password" name="password" ng-model="user.password" placeholder="contraseña" required>
                        <span  class="ion-at form-control-feedback"></span>

                    </div>

                    <div class="form-group has-feedback">
                        <input class="form-control input-lg" type="password" id="confirm" name="confirm" ng-model="user.confirm" placeholder="confirmar contraseña" required>
                        <span  class="ion-at form-control-feedback"></span>
                    </div>
                    <p class="text-center text-muted"><small>Al dar click en registrar, usted acepta los <a href="#">Terminos y Condiciones</a></small></p>
                    <button type="submit" ng-disabled="singupForm.$invalid" class="btn btn-lg btn-block btn-primary" ng-click="singup()">Registrar</button>
                    <br/>

                </form>
                <span us-spinner="{radious:30, width:8, length:16}" spinner-key="singupSpinner"></span>
                <button class="btn btn-facebook  btn-lg btn-block" ng-click="authenticate('facebook')">Registro con Facebook</button>
                <button class="btn btn-google  btn-lg btn-block" ng-click="authenticate('google')">Registro con Google</button>
                <button class="btn btn-twitter  btn-lg btn-block" ng-click="authenticate('twitter')">Login con twiter</button>
            </div>
        </div>
    </div>
    <div class="row">




</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>