
<span us-spinner="{radious:30, width:8, length:16}" spinner-key="spinner-1"></span>
<button class="btn btn-block btn-danger" ng-click="home.logOut()" ng-show="home.logged">LogOut</button>
<button class="btn btn-block btn-success" ng-click="home.showProfile()" >Open modal</button>
<button class = "btn btn-block btn-primary" ng-click="home.showLogin()" ng-hide="home.logged">Login</button>
<a class="btn btn-block btn-default" ng-click="home.showSingup()" ng-hide="home.logged">SingUp</a>
<pre>{{home.user | json}}</pre>
